@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.myDiv {
  text-align: center;
}
body {
  background-color: black;
  color: white;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 55px;
  padding-top: : 5px;

}

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  color: #9FAABC;
}

p {
  color: #9FAABC;
  font-family: 'Lora', serif;
  font-size: 16px;
  padding-left:400px;
  padding-right: 400px;
  padding-bottom: 50px;
  line-height: 200%;
}

footer {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 14px;
  color: #9FAABC;
  margin-top: 150px;
  margin-bottom: 20px;
}

img {
  padding: 10px;
}
