
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  color: #c3906b;
  background: #fff repeat-y top center;
}

header {
  width: 90px;
  height: 90px;
  background-image: url('logo.png') no-repeat top left;
}

.page-wrapper {
  margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
    width: 691px;
    text-align: center;
    position: relative;
    border-left: 1px solid #381e21;
    border-right: 1px solid #381e21;
    background-color: #934830;
}

h1, h2, h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.supporting, .who {
  padding: 0 30px;
  text-align: justify;
}

section::before{
  content: url('vertical.png');
}


.gallery-container-size{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px;
  border: 2px dashed pink;
  background-color: #381e21;
  align-self: auto;
  }
